$white: #fff;
$neon: #0ff;
$background-color: #190d52;
$text-gradient: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
$navbar-gradient: linear-gradient(45deg, rgb(71, 71, 237), rgb(236, 90, 114));
