@import "../../styles/_colors";

.card-content-container {
  border-radius: 5%;
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $background-color;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  & > img {
    width: 80%;
    height: 80%;
  }
}
